import { Outlet } from "react-router-dom";

export default function Root({children}) {
    return (
      <>
        <div id="sidebar">
          <h1>{{name}}</h1>
          <nav>
            <ul>
              {{#domains}}
              <li>
                <a href={`{{&path}}`}>{{description}}</a>
              </li>
              {{/domains}}
            </ul>
          </nav>
        </div>
        <div id="detail">
            <Outlet />
        </div>
      </>
    );
  }